#listColumns {
    column-count: 3;
    column-gap: 5px;
}

.card {
    display: inline-block;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 10px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, #FFF, #EEE);
    transition: all .2s ease;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 10px; 
    background-color: #673AB7;
    color: white;
    z-index: 999;
 }
 
 #fab:active {
     transform: translateY(2px);
     opacity: 0.8;
 }

 #modalTitle{
     margin: 15px;
 }

 #listColumns{
     overflow: hidden;
 }

 .cardButton{
     color: #673AB7;
     border-color: white;
     padding: 0px;
     margin-left: 5px;
 }