body {
    background: #DDDDDD;
}

.navbar {
    background-color: #673AB7;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.our-button-active {
    background-color: #673AB7;
    color: white;
    text-align: center;
}

.our-button-secondary{
    border: 2px solid #673AB7;
}

.lobby{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.lobby > h2 {
    flex: 3
}

.lobby > h3 {
    margin-left: 3em;
}

.lobby > button {
    /* flex: 1; */
    margin-left: 3em;
    margin-right: 3em;
    
}

#lobbySearch{
    margin-top: 1em;
    margin-bottom: 2em;
}

#lobbySelectPage > h1 {
    margin-bottom: 1em;
}

#createLobbyButton{
    position: fixed;
    bottom: 10%;
    right: 45%;
}

#homePageTitle{
    text-align: center;
}
.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#mainPage{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#homeBtns{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 2em;
}

.centerBtn{
    text-align: center;
}
