body {
    background: #DDDDDD;
}

.navbar {
    background-color: #673AB7;
    color: white;
}

.page-container {
    margin-top: 15px;
}

.no-nav-page-container {
    margin-top: 75px;
}

.our-button-active {
    background-color: #673AB7;
    color: white;
    text-align: center;
    max-height: 40px;
}

.our-button-secondary {
    border: 2px solid #673AB7;
    max-height: 40px;
}

.our-button-inactive {
    border: 2px solid gray;
    max-height: 40px;
}

.lobby {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.lobby>h2 {
    flex: 3
}

.lobby>h3 {
    margin-left: 3em;
}

.lobby>button {
    /* flex: 1; */
    margin-left: 3em;
    margin-right: 3em;

}

#lobbySearch {
    margin-top: 1em;
    margin-bottom: 2em;
}

#lobbySelectPage>h1 {
    margin-bottom: 1em;
    margin-top: 1em;
}

#createLobbyButton {
    position: fixed;
    bottom: 10%;
    right: 45%;
}

#homePageTitle {
    text-align: center;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mainPage {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#homeBtns {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 2em;
}

.centerBtn {
    text-align: center;
}

#startGameButton {
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;

}

#waitingText {
    margin-top: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}


#signInError,
#signUpError {
    color: red;
    margin-top: 0.5em;
    display: none;
}

.bmd-layout-content {
    height: 100vh;
}

.gameInfo {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    text-align: center;
}


#avator {
    border: 1px solid #ddd;
    border-radius: 80%;
    padding: 5px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#username{
    text-align: center;
}